[submodule "DesktopClient/lib/PolarSSL"]
	path = DesktopClient/lib/PolarSSL
	url = https://github.com/madmaxoft/polarssl
[submodule "DesktopClient/lib/PolarSSL-cpp"]
	path = DesktopClient/lib/PolarSSL-cpp
	url = https://github.com/madmaxoft/polarssl-cpp
